@import "../../styles/breakpoints.scss";

.search-screen {
  padding: 34px 0;
  display: flex;
  align-items: flex-start;
  justify-content: space-evenly;
  position: relative;
  width: 85vw;
  margin: 0 auto;

  .categories {
    position: sticky;
    top: 185px;
    left: 0;
    margin-right: 20px;
  }

  .search-results {
    display: grid;
    grid-gap: 20px;
    grid-template-columns: 1fr 1fr 1fr;
  }
}

@media screen and (max-width: 1280px) {
  .search-screen {
    width: 92vw;

    .search-results {
      grid-template-columns: 1fr 1fr;
    }
  }
}

@media screen and (max-width: $screen-lg-min) {
  .search-screen {
    .categories {
      display: none;
    }
  }
}

@media screen and (max-width: 655px) {
  .search-screen {
    .search-results {
      grid-template-columns: 1fr;
    }
  }
}
