.banner-wrapper {
  background-color: #232730;
  position: fixed;
  top: 0;
  width: 100vw;
  max-width: 100%;
  z-index: 100;

  .banner-container {
    width: 85vw;
    margin: 0 auto;
    padding: 16px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: white;
    height: 50px;

    a {
      text-decoration: none;
      color: white;
    }

    .location-selector {
      display: flex;
      align-items: center;
      cursor: pointer;

      img {
        margin-right: 8px;
      }
    }
  }
}
