@import '../../styles/breakpoints.scss';

.age-picker {
  margin: 0 30px;

  @media screen and (max-width: $screen-sm-min) {
    margin: 0 ;
  }

  p {
    font-size: 16px;
    font-weight: 600;
  }

  .dropdown {
    select {
      width: 250px;
      height: 40px;
      padding: 10px 12px;
      border-radius: 4px;
      box-shadow: 0 2px 17px 0 rgba(0, 0, 0, 0.12);
      border: solid 1px rgba(218, 218, 218, 0.67);
      background-color: #ffffff;
      font-size: 16px;
      font-weight: 600;
      cursor: pointer;

      option {
        margin: 10px 12px;
        font-size: 14px;
      }

      &:focus {
        outline: none;
      }
    }
  }
}
